


<div class=" maintenance-kiosk">
  <div class="container-fluid">
    <h2 class="row justify-content-center">Sistema de Control de Filas</h2>
  </div>
  <div class="container-fluid">
    <p class="row justify-content-center">CoopeTarrazu R.L</p>
  </div>
  <div class="spacer" style="height: 20px">
  </div>
  <div class="row">


          <button routerLinkActive="Active" routerLink="/maintenance" class="btn-primary " tabindex="0">
            <p>Mantenimiento de la aplicacion</p>
          </button>


          <button routerLinkActive="Active" routerLink="/kiosk" class="btn-primary " tabindex="0">
            <p>Quiosco de Autoservicio</p>
          </button>

          <button routerLinkActive="Active" routerLink="/ticket" class="btn-primary " tabindex="0">
            <p>Ventanillas</p>
          </button>

  </div>
</div>
