<div class=" maintenance-kiosk">
  <div class="container-fluid">
    <h2 class="row justify-content-center">Mantenimiento</h2>
  </div>
  <div class="container-fluid">
    <p class="row justify-content-center">Seleccione la sucursal y el departamento que desea agregar.</p>
  </div>
  <div class="spacer" style="height: 20px">
  </div>
  <div class="row">

    <div class="column" >

      <table>
        <tr>
          <th>Sucursales</th>
        </tr>
        <tr *ngFor="let branch of branches;let index=index ">
          <td >
            <!--                     value="{{branch.branchId}}"-->
            <div class="form-check">
              <input class="form-check-input"
                     type="radio"
                     id="flexRadioDefaultBr"
                     name="flexRadioDefaultBr"
                     value="{{branch.id}}"
                     (change)="onChangeBranch($event)"
              />
              <label class="form-check-label" for="flexRadioDefaultBr"> <p>{{branch.branchName}}</p></label>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="column" >
      <table>
        <tr>
          <th>Departamentos</th>
        </tr>
        <tr *ngFor="let department of departments;let index=index">
          <td>
<!--            value="{{department.departmentId}}"-->
            <div class="form-check">
              <input class="form-check-input"
                     type="radio"
                     id="flexRadioDefaultDep"
                     name="flexRadioDefaultDep"
                     value="{{department.id}}"
                     (change)="onChangeDepartment($event)"
              />
              <label class="form-check-label" for="flexRadioDefaultDep"> <p>{{department.departmentName}}</p></label>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="container-fluid">
    <button class="btn-secondary btn-rounded" tabindex="0"
            (click)="saveEntry()">
      <p>Agregar</p></button>

    <label *ngIf="branchDepartment">{{branchDepartment.departmentName}}  agregado a {{branchDepartment.branchName}}!!</label>
  </div>

  <div class="container-fluid">
<!--    (click)="deleteBranchDepartmentById(department.departmentId,branch.branchId)">-->
    <button class="btn-secondary btn-rounded" tabindex="0"
            (click)="deleteBranchDepartmentById(department.id,branch.id)">
      <p>Eliminar</p></button>
  </div>
  <div class="container-fluid">
    <button class="btn-secondary btn-rounded" tabindex="0"
            (click)="deleteAllBranchDepartments()">
      <p>Eliminar todos</p></button>
  </div>

</div>
