

<div class="queue-body">
  <div class="container-fluid">
    <h2 class="row justify-content-center" *ngIf="branch">Filas en</h2>
  </div>
  <div class="spacer" style="height: 50px">
  </div>
  <div class="container-fluid">
    <p class="row justify-content-center"></p>
  </div>
  <div class="spacer" style="height: 100px">
  </div>


  <body>
  <div class="row">
    <div class="column" *ngFor="let bd of branchDepartments;let index=index">
      <table>
        <tr>
          <th>{{bd.departmentName}}</th>
        </tr>
        <tr>
          <th>Ficha</th>
          <th>Ventanilla</th>
        </tr>
        <tr *ngFor="let queue of queueClients;let index=index">
          <td *ngIf="queue.branchDepartmentId == bd.branchDepartmentId" >{{queue.departmentLetter}}{{queue.clientNumber}}</td>
          <td *ngIf="queue.branchDepartmentId == bd.branchDepartmentId">{{queue.window}}</td>
        </tr>
      </table>
    </div>
  </div>
  </body>

