

<div class="queue-body">
  <div class="container-fluid">
    <h2 class="row justify-content-center" *ngIf="branch">Filas en</h2>
  </div>
  <div class="spacer" style="height: 50px">
  </div>
  <div class="container-fluid">
    <p class="row justify-content-center"></p>
  </div>
  <div class="spacer" style="height: 100px">
  </div>


  <body>
  <div class="row">
    <div class="column" *ngFor="let bd of branchDepartments;let index=index">
      <table>
        <tr>
          <th>{{bd.departmentName}}</th>
        </tr>
        <tr>
          <th>Ficha</th>
          <th>Ventanilla</th>
          <!--            <th>Eliminar</th>-->
        </tr>
        <tr *ngFor="let queue of queueClients;let index=index">
          <td *ngIf="queue.branchDepartmentId == bd.branchDepartmentId" >{{queue.departmentLetter}}{{queue.clientNumber}}</td>
          <td *ngIf="queue.branchDepartmentId == bd.branchDepartmentId">{{queue.window}}</td>
          <!--<td *ngIf="queue.branchDepartmentId == bd.branchDepartmentId">
            <button type="button" class="btn btn-primary btn-floating"
                    (click)="deleteById(queue.id)"><i class="fa-solid fa-delete-left"></i>
            </button>
          </td>-->
        </tr>
      </table>
    </div>
  </div>
  </body>


  <!--

<div *ngFor="let bd of branchDepartments;let index=index">
  <table class="table">
    <thead>
      <tr>
        <div>
          <th scope="col">{{bd.branchName}}</th>
          <th scope="col">{{bd.departmentName}}</th>
          <th scope="col">Ventanilla</th>
        </div>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let queue of queueClients;let index=index">
        <div *ngIf="queue.branchDepartmentId == bd.branchDepartmentId">
          <th>Ficha</th>
          <td matSort>.....{{queue.departmentLetter}}{{queue.clientNumber}}........</td>
          <td>.......{{queue.window}}........</td>
        </div>
      </tr>
    </tbody>
  </table>
</div>



<div>
  <table  *ngFor="let bd of branchDepartments;let index=index"
          mat-table [dataSource]="queueClients"
          class="mat-elevation-z8 demo-table"
          >
    <thead>{{bd.branchName}}  {{bd.departmentName}}</thead>
    &lt;!&ndash; Position Column &ndash;&gt;
    <div>
      <ng-container matColumnDef="demo-clientNumber">
        <th mat-header-cell *matHeaderCellDef> Ficha </th>
        <td mat-cell *matCellDef="let element">

          <div *ngIf="element.branchDepartmentId == bd.branchDepartmentId">
            {{element.clientNumber}}
          </div>
        </td>
      </ng-container>
      &lt;!&ndash; Name Column &ndash;&gt;
      <ng-container matColumnDef="demo-window">
        <th mat-header-cell *matHeaderCellDef> Ventanilla </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.branchDepartmentId == bd.branchDepartmentId">
            {{element.window}}
          </div>
        </td>
      </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
-->
